### Renta per capita

Tenemos un dataset que contiene la renta per cápita disponible bruta de Madrid, tanto en general como por distritos, para los años comprendidos entre 2002 y 2019.

Primero, realizamos una limpieza de la tabla para conservar únicamente las fechas, los nombres de las columnas y los distritos, manteniendo el formato que se encuentra en otros datasets.

A continuación, pivotamos la tabla de manera que los distritos se conviertan en columnas y descargamos el archivo resultante.

Luego, llevamos a cabo un análisis para prever cómo será la renta en los años siguientes y comprobar si sigue un patrón lógico con el que podamos trabajar.

Después, implementamos un bucle para realizar la regresión en cada columna y para los tres años necesarios.

Descargamos nuevamente el dataset con los resultados obtenidos.

A continuación, aplicamos la operación "melt" para transformar el dataset en uno más largo y lo descargamos nuevamente.

In [1]:
# Librerias 

import pandas as pd
import numpy as np

In [2]:
# Leer el excel de la tabla extraida de otro dataset mas grande y detallado por que solo necesitamos los datos de la renta per capita por distrito
df = pd.read_excel('/Users/Paco/IMMUNE/Modulo_Deep_Learning_Completo 2/Modulo_Deep_Learning_Completo/notebooks/Renta_per_capita.xlsx', header=1) # La primera fila es el nombre de las columnas que son los años
df

,Unnamed: 0,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018 (p),2019 (a)
0,Madrid,15044,15916,16827,17439,18772,19838,21152,20639,20302,20784,19838,19973,20205,21176,21888,22364,22542,23463
1,01. Centro,16719,17124,18035,18630,20297,21465,22492,21964,21539,22393,21797,22003,22688,23866,25092,26092,26579,27236
2,"02, Arganzuela",15961,16705,17796,18426,19863,21035,21884,21605,21705,22281,21742,22116,22479,23904,24754,25643,26295,27672
3,03. Retiro,18865,20090,20884,21088,22619,23992,26251,25694,25265,26286,24570,24553,24685,26408,27630,28753,29043,30721
4,04. Salamanca,18930,20187,20983,22342,23924,26157,28278,26061,25148,26881,24040,24304,24539,26041,28017,29082,29206,31197
5,05. Chamartín,19576,20739,21224,22001,23419,25522,27638,25472,25208,26568,23652,24514,24736,26398,27960,29062,29168,31295
6,06. Tetuán,15444,16203,17022,17709,18746,19558,21347,20276,20205,20960,19679,19831,19664,20656,21447,21731,21882,22925
7,07. Chamberí,19242,20110,20751,21525,23280,24644,26788,25403,24877,25916,23884,24639,24942,26130,27852,28894,28987,30468
8,08. Fuencarral-El Pardo,15129,16139,16957,17886,19447,20817,22727,22039,21771,22288,20866,20841,21434,22426,22883,23545,23545,24644
9,09. Moncloa-Aravaca,18209,19109,19896,20212,21805,23600,25823,23859,23759,24896,22782,23485,24137,24821,25830,26984,26786,28275
10,10. Latina,13326,14246,15006,15894,16946,17616,18529,18531,18377,18319,17939,18146,18152,18873,19188,19274,19646,20241
11,11. Carabanchel,12954,13754,14861,15269,16339,17016,17672,17520,17052,17093,16902,16574,17092,17825,18129,18004,18100,18611
12,12. Usera,12188,12964,13766,14088,15176,15654,16352,16766,16025,16031,16115,16041,15580,16222,16595,16465,16786,17446
13,13. Puente de Vallecas,11451,12260,13328,13891,14970,15778,16385,16360,15928,15897,15524,15479,15390,16121,16276,16229,16620,17076
14,14. Moratalaz,13947,14993,15716,16664,18151,19005,20430,20242,19936,19955,19670,19831,20102,20717,21069,21443,21890,22484
15,15. Ciudad Lineal,15008,15835,16442,17103,18342,19144,20756,20311,20075,20311,19493,19787,19853,20863,21524,21828,21969,22787
16,16. Hortaleza,15439,16326,17438,17806,19322,20381,21879,21601,21405,22015,21079,20956,21584,22643,23587,24502,24404,25437
17,17. Villaverde,11666,12530,13909,14226,15352,16190,16414,16491,15865,15925,15783,15738,15942,16522,16735,16566,16688,17191
18,18. Villa de Vallecas,12112,13105,14466,15254,16853,17406,18783,19115,19119,19032,18557,18327,18625,19219,19538,19954,20143,20551
19,19. Vicálvaro,12291,13031,14793,14860,16548,17517,18832,18774,18558,18694,18056,17905,17950,18752,18887,19383,19723,20080
20,20. San Blas,13709,14465,15732,16206,17510,18306,19274,19557,19129,19435,19012,18740,18694,19403,19804,20036,20098,20531
21,21. Barajas,15994,16565,18146,18709,20309,22343,23371,23399,23012,23718,22718,23352,23704,24619,25184,25818,25775,26467

In [3]:
# La primera columna le ponemos el nombre distrito
df = df.rename(columns={'Unnamed: 0': 'distrito'})

In [4]:
df

,distrito,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018 (p),2019 (a)
0,Madrid,15044,15916,16827,17439,18772,19838,21152,20639,20302,20784,19838,19973,20205,21176,21888,22364,22542,23463
1,01. Centro,16719,17124,18035,18630,20297,21465,22492,21964,21539,22393,21797,22003,22688,23866,25092,26092,26579,27236
2,"02, Arganzuela",15961,16705,17796,18426,19863,21035,21884,21605,21705,22281,21742,22116,22479,23904,24754,25643,26295,27672
3,03. Retiro,18865,20090,20884,21088,22619,23992,26251,25694,25265,26286,24570,24553,24685,26408,27630,28753,29043,30721
4,04. Salamanca,18930,20187,20983,22342,23924,26157,28278,26061,25148,26881,24040,24304,24539,26041,28017,29082,29206,31197
5,05. Chamartín,19576,20739,21224,22001,23419,25522,27638,25472,25208,26568,23652,24514,24736,26398,27960,29062,29168,31295
6,06. Tetuán,15444,16203,17022,17709,18746,19558,21347,20276,20205,20960,19679,19831,19664,20656,21447,21731,21882,22925
7,07. Chamberí,19242,20110,20751,21525,23280,24644,26788,25403,24877,25916,23884,24639,24942,26130,27852,28894,28987,30468
8,08. Fuencarral-El Pardo,15129,16139,16957,17886,19447,20817,22727,22039,21771,22288,20866,20841,21434,22426,22883,23545,23545,24644
9,09. Moncloa-Aravaca,18209,19109,19896,20212,21805,23600,25823,23859,23759,24896,22782,23485,24137,24821,25830,26984,26786,28275
10,10. Latina,13326,14246,15006,15894,16946,17616,18529,18531,18377,18319,17939,18146,18152,18873,19188,19274,19646,20241
11,11. Carabanchel,12954,13754,14861,15269,16339,17016,17672,17520,17052,17093,16902,16574,17092,17825,18129,18004,18100,18611
12,12. Usera,12188,12964,13766,14088,15176,15654,16352,16766,16025,16031,16115,16041,15580,16222,16595,16465,16786,17446
13,13. Puente de Vallecas,11451,12260,13328,13891,14970,15778,16385,16360,15928,15897,15524,15479,15390,16121,16276,16229,16620,17076
14,14. Moratalaz,13947,14993,15716,16664,18151,19005,20430,20242,19936,19955,19670,19831,20102,20717,21069,21443,21890,22484
15,15. Ciudad Lineal,15008,15835,16442,17103,18342,19144,20756,20311,20075,20311,19493,19787,19853,20863,21524,21828,21969,22787
16,16. Hortaleza,15439,16326,17438,17806,19322,20381,21879,21601,21405,22015,21079,20956,21584,22643,23587,24502,24404,25437
17,17. Villaverde,11666,12530,13909,14226,15352,16190,16414,16491,15865,15925,15783,15738,15942,16522,16735,16566,16688,17191
18,18. Villa de Vallecas,12112,13105,14466,15254,16853,17406,18783,19115,19119,19032,18557,18327,18625,19219,19538,19954,20143,20551
19,19. Vicálvaro,12291,13031,14793,14860,16548,17517,18832,18774,18558,18694,18056,17905,17950,18752,18887,19383,19723,20080
20,20. San Blas,13709,14465,15732,16206,17510,18306,19274,19557,19129,19435,19012,18740,18694,19403,19804,20036,20098,20531
21,21. Barajas,15994,16565,18146,18709,20309,22343,23371,23399,23012,23718,22718,23352,23704,24619,25184,25818,25775,26467

In [5]:
# cambiar los nombres de los distritos a minuscula y quitar la numeracion
df['distrito'].iloc[1:] = df['distrito'].iloc[1:].str.slice(4).str.lower()
df

C:\Users\Paco\AppData\Local\Temp\ipykernel_5404\825679119.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distrito'].iloc[1:] = df['distrito'].iloc[1:].str.slice(4).str.lower()

,distrito,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018 (p),2019 (a)
0,Madrid,15044,15916,16827,17439,18772,19838,21152,20639,20302,20784,19838,19973,20205,21176,21888,22364,22542,23463
1,centro,16719,17124,18035,18630,20297,21465,22492,21964,21539,22393,21797,22003,22688,23866,25092,26092,26579,27236
2,arganzuela,15961,16705,17796,18426,19863,21035,21884,21605,21705,22281,21742,22116,22479,23904,24754,25643,26295,27672
3,retiro,18865,20090,20884,21088,22619,23992,26251,25694,25265,26286,24570,24553,24685,26408,27630,28753,29043,30721
4,salamanca,18930,20187,20983,22342,23924,26157,28278,26061,25148,26881,24040,24304,24539,26041,28017,29082,29206,31197
5,chamartín,19576,20739,21224,22001,23419,25522,27638,25472,25208,26568,23652,24514,24736,26398,27960,29062,29168,31295
6,tetuán,15444,16203,17022,17709,18746,19558,21347,20276,20205,20960,19679,19831,19664,20656,21447,21731,21882,22925
7,chamberí,19242,20110,20751,21525,23280,24644,26788,25403,24877,25916,23884,24639,24942,26130,27852,28894,28987,30468
8,fuencarral-el pardo,15129,16139,16957,17886,19447,20817,22727,22039,21771,22288,20866,20841,21434,22426,22883,23545,23545,24644
9,moncloa-aravaca,18209,19109,19896,20212,21805,23600,25823,23859,23759,24896,22782,23485,24137,24821,25830,26984,26786,28275
10,latina,13326,14246,15006,15894,16946,17616,18529,18531,18377,18319,17939,18146,18152,18873,19188,19274,19646,20241
11,carabanchel,12954,13754,14861,15269,16339,17016,17672,17520,17052,17093,16902,16574,17092,17825,18129,18004,18100,18611
12,usera,12188,12964,13766,14088,15176,15654,16352,16766,16025,16031,16115,16041,15580,16222,16595,16465,16786,17446
13,puente de vallecas,11451,12260,13328,13891,14970,15778,16385,16360,15928,15897,15524,15479,15390,16121,16276,16229,16620,17076
14,moratalaz,13947,14993,15716,16664,18151,19005,20430,20242,19936,19955,19670,19831,20102,20717,21069,21443,21890,22484
15,ciudad lineal,15008,15835,16442,17103,18342,19144,20756,20311,20075,20311,19493,19787,19853,20863,21524,21828,21969,22787
16,hortaleza,15439,16326,17438,17806,19322,20381,21879,21601,21405,22015,21079,20956,21584,22643,23587,24502,24404,25437
17,villaverde,11666,12530,13909,14226,15352,16190,16414,16491,15865,15925,15783,15738,15942,16522,16735,16566,16688,17191
18,villa de vallecas,12112,13105,14466,15254,16853,17406,18783,19115,19119,19032,18557,18327,18625,19219,19538,19954,20143,20551
19,vicálvaro,12291,13031,14793,14860,16548,17517,18832,18774,18558,18694,18056,17905,17950,18752,18887,19383,19723,20080
20,san blas,13709,14465,15732,16206,17510,18306,19274,19557,19129,19435,19012,18740,18694,19403,19804,20036,20098,20531
21,barajas,15994,16565,18146,18709,20309,22343,23371,23399,23012,23718,22718,23352,23704,24619,25184,25818,25775,26467

In [6]:
# Cambiar tambien la mayuscula del valor Madrid y solo dejar en la fila de 'fuencarral-el pardo' solo 'fuencarral' y la fila 'moncloa-aravaca' solo 'moncloa'

df['distrito'] = df['distrito'].str.lower()
df['distrito'] = df['distrito'].str.replace('moncloa-aravaca', 'moncloa')
df['distrito'] = df['distrito'].str.replace('fuencarral-el pardo', 'fuencarral')
df['distrito'] = df['distrito'].str.replace('puente de vallecas', 'puente_vallecas')
df['distrito'] = df['distrito'].str.replace('ciudad lineal', 'ciudad_lineal')
df['distrito'] = df['distrito'].str.replace('villa de vallecas', 'villa_vallecas')
df['distrito'] = df['distrito'].str.replace('chamartín', 'chamartin')
df['distrito'] = df['distrito'].str.replace('tetuán', 'tetuan')
df['distrito'] = df['distrito'].str.replace('vicálvaro', 'vicalvaro')
df

,distrito,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018 (p),2019 (a)
0,madrid,15044,15916,16827,17439,18772,19838,21152,20639,20302,20784,19838,19973,20205,21176,21888,22364,22542,23463
1,centro,16719,17124,18035,18630,20297,21465,22492,21964,21539,22393,21797,22003,22688,23866,25092,26092,26579,27236
2,arganzuela,15961,16705,17796,18426,19863,21035,21884,21605,21705,22281,21742,22116,22479,23904,24754,25643,26295,27672
3,retiro,18865,20090,20884,21088,22619,23992,26251,25694,25265,26286,24570,24553,24685,26408,27630,28753,29043,30721
4,salamanca,18930,20187,20983,22342,23924,26157,28278,26061,25148,26881,24040,24304,24539,26041,28017,29082,29206,31197
5,chamartin,19576,20739,21224,22001,23419,25522,27638,25472,25208,26568,23652,24514,24736,26398,27960,29062,29168,31295
6,tetuan,15444,16203,17022,17709,18746,19558,21347,20276,20205,20960,19679,19831,19664,20656,21447,21731,21882,22925
7,chamberí,19242,20110,20751,21525,23280,24644,26788,25403,24877,25916,23884,24639,24942,26130,27852,28894,28987,30468
8,fuencarral,15129,16139,16957,17886,19447,20817,22727,22039,21771,22288,20866,20841,21434,22426,22883,23545,23545,24644
9,moncloa,18209,19109,19896,20212,21805,23600,25823,23859,23759,24896,22782,23485,24137,24821,25830,26984,26786,28275
10,latina,13326,14246,15006,15894,16946,17616,18529,18531,18377,18319,17939,18146,18152,18873,19188,19274,19646,20241
11,carabanchel,12954,13754,14861,15269,16339,17016,17672,17520,17052,17093,16902,16574,17092,17825,18129,18004,18100,18611
12,usera,12188,12964,13766,14088,15176,15654,16352,16766,16025,16031,16115,16041,15580,16222,16595,16465,16786,17446
13,puente_vallecas,11451,12260,13328,13891,14970,15778,16385,16360,15928,15897,15524,15479,15390,16121,16276,16229,16620,17076
14,moratalaz,13947,14993,15716,16664,18151,19005,20430,20242,19936,19955,19670,19831,20102,20717,21069,21443,21890,22484
15,ciudad_lineal,15008,15835,16442,17103,18342,19144,20756,20311,20075,20311,19493,19787,19853,20863,21524,21828,21969,22787
16,hortaleza,15439,16326,17438,17806,19322,20381,21879,21601,21405,22015,21079,20956,21584,22643,23587,24502,24404,25437
17,villaverde,11666,12530,13909,14226,15352,16190,16414,16491,15865,15925,15783,15738,15942,16522,16735,16566,16688,17191
18,villa_vallecas,12112,13105,14466,15254,16853,17406,18783,19115,19119,19032,18557,18327,18625,19219,19538,19954,20143,20551
19,vicalvaro,12291,13031,14793,14860,16548,17517,18832,18774,18558,18694,18056,17905,17950,18752,18887,19383,19723,20080
20,san blas,13709,14465,15732,16206,17510,18306,19274,19557,19129,19435,19012,18740,18694,19403,19804,20036,20098,20531
21,barajas,15994,16565,18146,18709,20309,22343,23371,23399,23012,23718,22718,23352,23704,24619,25184,25818,25775,26467

In [7]:
# cambiar los nombres de las columnas para que solo queden los años en numero y convertirlo en numerico
df = df.rename(columns={'2018 (p)': '2018', '2019 (a)': '2019'})
df['2018'] = pd.to_numeric(df['2018'], errors='coerce')
df['2019'] = pd.to_numeric(df['2019'], errors='coerce')
df

,distrito,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,madrid,15044,15916,16827,17439,18772,19838,21152,20639,20302,20784,19838,19973,20205,21176,21888,22364,22542,23463
1,centro,16719,17124,18035,18630,20297,21465,22492,21964,21539,22393,21797,22003,22688,23866,25092,26092,26579,27236
2,arganzuela,15961,16705,17796,18426,19863,21035,21884,21605,21705,22281,21742,22116,22479,23904,24754,25643,26295,27672
3,retiro,18865,20090,20884,21088,22619,23992,26251,25694,25265,26286,24570,24553,24685,26408,27630,28753,29043,30721
4,salamanca,18930,20187,20983,22342,23924,26157,28278,26061,25148,26881,24040,24304,24539,26041,28017,29082,29206,31197
5,chamartin,19576,20739,21224,22001,23419,25522,27638,25472,25208,26568,23652,24514,24736,26398,27960,29062,29168,31295
6,tetuan,15444,16203,17022,17709,18746,19558,21347,20276,20205,20960,19679,19831,19664,20656,21447,21731,21882,22925
7,chamberí,19242,20110,20751,21525,23280,24644,26788,25403,24877,25916,23884,24639,24942,26130,27852,28894,28987,30468
8,fuencarral,15129,16139,16957,17886,19447,20817,22727,22039,21771,22288,20866,20841,21434,22426,22883,23545,23545,24644
9,moncloa,18209,19109,19896,20212,21805,23600,25823,23859,23759,24896,22782,23485,24137,24821,25830,26984,26786,28275
10,latina,13326,14246,15006,15894,16946,17616,18529,18531,18377,18319,17939,18146,18152,18873,19188,19274,19646,20241
11,carabanchel,12954,13754,14861,15269,16339,17016,17672,17520,17052,17093,16902,16574,17092,17825,18129,18004,18100,18611
12,usera,12188,12964,13766,14088,15176,15654,16352,16766,16025,16031,16115,16041,15580,16222,16595,16465,16786,17446
13,puente_vallecas,11451,12260,13328,13891,14970,15778,16385,16360,15928,15897,15524,15479,15390,16121,16276,16229,16620,17076
14,moratalaz,13947,14993,15716,16664,18151,19005,20430,20242,19936,19955,19670,19831,20102,20717,21069,21443,21890,22484
15,ciudad_lineal,15008,15835,16442,17103,18342,19144,20756,20311,20075,20311,19493,19787,19853,20863,21524,21828,21969,22787
16,hortaleza,15439,16326,17438,17806,19322,20381,21879,21601,21405,22015,21079,20956,21584,22643,23587,24502,24404,25437
17,villaverde,11666,12530,13909,14226,15352,16190,16414,16491,15865,15925,15783,15738,15942,16522,16735,16566,16688,17191
18,villa_vallecas,12112,13105,14466,15254,16853,17406,18783,19115,19119,19032,18557,18327,18625,19219,19538,19954,20143,20551
19,vicalvaro,12291,13031,14793,14860,16548,17517,18832,18774,18558,18694,18056,17905,17950,18752,18887,19383,19723,20080
20,san blas,13709,14465,15732,16206,17510,18306,19274,19557,19129,19435,19012,18740,18694,19403,19804,20036,20098,20531
21,barajas,15994,16565,18146,18709,20309,22343,23371,23399,23012,23718,22718,23352,23704,24619,25184,25818,25775,26467

In [8]:
# Pivotar la tabla para tener los distritos como columnas
pivot_df = df.set_index('distrito').T
pivot_df

distrito,madrid,centro,arganzuela,retiro,salamanca,chamartin,tetuan,chamberí,fuencarral,moncloa,...,usera,puente_vallecas,moratalaz,ciudad_lineal,hortaleza,villaverde,villa_vallecas,vicalvaro,san blas,barajas
2002,15044,16719,15961,18865,18930,19576,15444,19242,15129,18209,...,12188,11451,13947,15008,15439,11666,12112,12291,13709,15994
2003,15916,17124,16705,20090,20187,20739,16203,20110,16139,19109,...,12964,12260,14993,15835,16326,12530,13105,13031,14465,16565
2004,16827,18035,17796,20884,20983,21224,17022,20751,16957,19896,...,13766,13328,15716,16442,17438,13909,14466,14793,15732,18146
2005,17439,18630,18426,21088,22342,22001,17709,21525,17886,20212,...,14088,13891,16664,17103,17806,14226,15254,14860,16206,18709
2006,18772,20297,19863,22619,23924,23419,18746,23280,19447,21805,...,15176,14970,18151,18342,19322,15352,16853,16548,17510,20309
2007,19838,21465,21035,23992,26157,25522,19558,24644,20817,23600,...,15654,15778,19005,19144,20381,16190,17406,17517,18306,22343
2008,21152,22492,21884,26251,28278,27638,21347,26788,22727,25823,...,16352,16385,20430,20756,21879,16414,18783,18832,19274,23371
2009,20639,21964,21605,25694,26061,25472,20276,25403,22039,23859,...,16766,16360,20242,20311,21601,16491,19115,18774,19557,23399
2010,20302,21539,21705,25265,25148,25208,20205,24877,21771,23759,...,16025,15928,19936,20075,21405,15865,19119,18558,19129,23012
2011,20784,22393,22281,26286,26881,26568,20960,25916,22288,24896,...,16031,15897,19955,20311,22015,15925,19032,18694,19435,23718
2012,19838,21797,21742,24570,24040,23652,19679,23884,20866,22782,...,16115,15524,19670,19493,21079,15783,18557,18056,19012,22718
2013,19973,22003,22116,24553,24304,24514,19831,24639,20841,23485,...,16041,15479,19831,19787,20956,15738,18327,17905,18740,23352
2014,20205,22688,22479,24685,24539,24736,19664,24942,21434,24137,...,15580,15390,20102,19853,21584,15942,18625,17950,18694,23704
2015,21176,23866,23904,26408,26041,26398,20656,26130,22426,24821,...,16222,16121,20717,20863,22643,16522,19219,18752,19403,24619
2016,21888,25092,24754,27630,28017,27960,21447,27852,22883,25830,...,16595,16276,21069,21524,23587,16735,19538,18887,19804,25184
2017,22364,26092,25643,28753,29082,29062,21731,28894,23545,26984,...,16465,16229,21443,21828,24502,16566,19954,19383,20036,25818
2018,22542,26579,26295,29043,29206,29168,21882,28987,23545,26786,...,16786,16620,21890,21969,24404,16688,20143,19723,20098,25775
2019,23463,27236,27672,30721,31197,31295,22925,30468,24644,28275,...,17446,17076,22484,22787,25437,17191,20551,20080,20531,26467

In [9]:
pivot_df = pivot_df.rename(columns={'distrito': 'año'})
pivot_df

distrito,madrid,centro,arganzuela,retiro,salamanca,chamartin,tetuan,chamberí,fuencarral,moncloa,...,usera,puente_vallecas,moratalaz,ciudad_lineal,hortaleza,villaverde,villa_vallecas,vicalvaro,san blas,barajas
2002,15044,16719,15961,18865,18930,19576,15444,19242,15129,18209,...,12188,11451,13947,15008,15439,11666,12112,12291,13709,15994
2003,15916,17124,16705,20090,20187,20739,16203,20110,16139,19109,...,12964,12260,14993,15835,16326,12530,13105,13031,14465,16565
2004,16827,18035,17796,20884,20983,21224,17022,20751,16957,19896,...,13766,13328,15716,16442,17438,13909,14466,14793,15732,18146
2005,17439,18630,18426,21088,22342,22001,17709,21525,17886,20212,...,14088,13891,16664,17103,17806,14226,15254,14860,16206,18709
2006,18772,20297,19863,22619,23924,23419,18746,23280,19447,21805,...,15176,14970,18151,18342,19322,15352,16853,16548,17510,20309
2007,19838,21465,21035,23992,26157,25522,19558,24644,20817,23600,...,15654,15778,19005,19144,20381,16190,17406,17517,18306,22343
2008,21152,22492,21884,26251,28278,27638,21347,26788,22727,25823,...,16352,16385,20430,20756,21879,16414,18783,18832,19274,23371
2009,20639,21964,21605,25694,26061,25472,20276,25403,22039,23859,...,16766,16360,20242,20311,21601,16491,19115,18774,19557,23399
2010,20302,21539,21705,25265,25148,25208,20205,24877,21771,23759,...,16025,15928,19936,20075,21405,15865,19119,18558,19129,23012
2011,20784,22393,22281,26286,26881,26568,20960,25916,22288,24896,...,16031,15897,19955,20311,22015,15925,19032,18694,19435,23718
2012,19838,21797,21742,24570,24040,23652,19679,23884,20866,22782,...,16115,15524,19670,19493,21079,15783,18557,18056,19012,22718
2013,19973,22003,22116,24553,24304,24514,19831,24639,20841,23485,...,16041,15479,19831,19787,20956,15738,18327,17905,18740,23352
2014,20205,22688,22479,24685,24539,24736,19664,24942,21434,24137,...,15580,15390,20102,19853,21584,15942,18625,17950,18694,23704
2015,21176,23866,23904,26408,26041,26398,20656,26130,22426,24821,...,16222,16121,20717,20863,22643,16522,19219,18752,19403,24619
2016,21888,25092,24754,27630,28017,27960,21447,27852,22883,25830,...,16595,16276,21069,21524,23587,16735,19538,18887,19804,25184
2017,22364,26092,25643,28753,29082,29062,21731,28894,23545,26984,...,16465,16229,21443,21828,24502,16566,19954,19383,20036,25818
2018,22542,26579,26295,29043,29206,29168,21882,28987,23545,26786,...,16786,16620,21890,21969,24404,16688,20143,19723,20098,25775
2019,23463,27236,27672,30721,31197,31295,22925,30468,24644,28275,...,17446,17076,22484,22787,25437,17191,20551,20080,20531,26467

In [10]:
# Descargar el archivo 
archivo_excel = '/Users/Paco/IMMUNE/Modulo_Deep_Learning_Completo 2/Modulo_Deep_Learning_Completo/notebooks/renta_per_capita_limpia.xlsx'
pivot_df.to_excel(archivo_excel, index=True)

In [11]:
# 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Obtener los datos de renta per cápita para un distrito específico (por ejemplo, 'madrid')
distrito = 'madrid'
distrito_data = df[df['distrito'] == distrito].iloc[:, 1:].values.squeeze()

# Crear una lista de años desde 2002 hasta 2019
years = range(2002, 2020)

# Crear una lista de años futuros para los que se harán las estimaciones
future_years = [2020, 2021, 2022]

# Ajustar un modelo de regresión lineal a los datos históricos
regression_model = LinearRegression()
X = [[year] for year in years]
y = distrito_data
regression_model.fit(X, y)

# Realizar las estimaciones para los años futuros utilizando el modelo de regresión lineal
future_X = [[year] for year in future_years]
predictions = regression_model.predict(future_X)

# Imprimir las estimaciones
print(f"Estimaciones de renta per cápita para el distrito {distrito}:")
for year, prediction in zip(future_years, predictions):
    print(f"Año {year}: {round(prediction, 2)}")

# Calcular el error cuadrático medio y el coeficiente de determinación
y_pred = regression_model.predict(X)
rmse = np.sqrt(mean_squared_error(y, y_pred))
r2 = r2_score(y, y_pred)

# Imprimir las métricas de evaluación
print(f"Raíz del error cuadrático medio: {rmse:.2f}")
print(f"Coeficiente de determinación: {r2:.2f}")

# desviacion estandar
# modelo

Estimaciones de renta per cápita para el distrito madrid:
Año 2020: 23621.63
Año 2021: 24013.61
Año 2022: 24405.58
Raíz del error cuadrático medio: 950.87
Coeficiente de determinación: 0.82

In [12]:
desviacion_estandar = np.std(distrito_data)
print(f"Desviación estándar de renta per cápita para el distrito {distrito}: {desviacion_estandar:.2f}")

Desviación estándar de renta per cápita para el distrito madrid: 2244.93

In [14]:
# Crear el modelo para todos los distritos
# Crear una lista con todas las columnas
columnas = pivot_df.columns.tolist()

# Crear una lista para almacenar las filas del nuevo DataFrame
nuevas_filas = []

# Iterar sobre las columnas y aplicar el modelo
for columna in columnas:
    # Obtener los datos de la columna
    columna_data = pivot_df[columna].values.squeeze()
    
    # Ajustar un modelo de regresión lineal a los datos de la columna
    regression_model = LinearRegression()
    regression_model.fit([[year] for year in range(2002, 2020)], columna_data[:18])  # Utilizar solo los datos hasta 2019
    
    # Realizar las estimaciones para los años futuros utilizando el modelo de regresión lineal
    predictions = regression_model.predict([[year] for year in range(2020, 2023)])
    
    # Crear las nuevas filas para el DataFrame con las estimaciones
    nuevas_filas.append([columna] + predictions.tolist())

# Crear un nuevo DataFrame con las nuevas filas y las columnas correspondientes
nuevo_df = pd.DataFrame(nuevas_filas, columns=['Columna'] + [str(year) for year in range(2020, 2023)])

# Imprimir el nuevo DataFrame
nuevo_df

            Columna          2020          2021          2022
0            madrid  23621.633987  24013.607155  24405.580323
1            centro  27245.973856  27798.117303  28350.260750
2        arganzuela  27291.705882  27872.902993  28454.100103
3            retiro  30132.026144  30687.461644  31242.897145
4         salamanca  30148.947712  30659.848641  31170.749570
5         chamartin  30080.568627  30591.084623  31101.600619
6            tetuan  22914.653595  23249.032336  23583.411077
7          chamberí  29936.019608  30465.355005  30994.690402
8        fuencarral  25091.470588  25537.449948  25983.429309
9           moncloa  28054.150327  28526.119367  28998.088407
10           latina  20696.372549  21013.832817  21331.293086
11      carabanchel  19064.973856  19312.941864  19560.909873
12            usera  17675.627451  17897.272446  18118.917441
13  puente_vallecas  17486.967320  17719.729962  17952.492604
14        moratalaz  23133.588235  23543.878225  23954.168215
15    ciudad_lineal  23087.581699  23462.701410  23837.821121
16        hortaleza  25688.111111  26182.742690  26677.374269
17       villaverde  17715.084967  17943.965256  18172.845545
18   villa_vallecas  21642.366013  22048.234950  22454.103887
19        vicalvaro  20940.196078  21304.462332  21668.728586
20         san blas  21369.790850  21691.517372  22013.243894
21          barajas  27635.823529  28186.945304  28738.067079

In [15]:
# Pivoteo del DataFrame
pivot_df2 = nuevo_df.set_index('Columna').T

# Imprimir el DataFrame pivotado
pivot_df2

Columna,madrid,centro,arganzuela,retiro,salamanca,chamartin,tetuan,chamberí,fuencarral,moncloa,...,usera,puente_vallecas,moratalaz,ciudad_lineal,hortaleza,villaverde,villa_vallecas,vicalvaro,san blas,barajas
2020,23621.633987,27245.973856,27291.705882,30132.026144,30148.947712,30080.568627,22914.653595,29936.019608,25091.470588,28054.150327,...,17675.627451,17486.967320,23133.588235,23087.581699,25688.111111,17715.084967,21642.366013,20940.196078,21369.790850,27635.823529
2021,24013.607155,27798.117303,27872.902993,30687.461644,30659.848641,30591.084623,23249.032336,30465.355005,25537.449948,28526.119367,...,17897.272446,17719.729962,23543.878225,23462.701410,26182.742690,17943.965256,22048.234950,21304.462332,21691.517372,28186.945304
2022,24405.580323,28350.260750,28454.100103,31242.897145,31170.749570,31101.600619,23583.411077,30994.690402,25983.429309,28998.088407,...,18118.917441,17952.492604,23954.168215,23837.821121,26677.374269,18172.845545,22454.103887,21668.728586,22013.243894,28738.067079

In [16]:
# Añadir las nuevas filas al DataFrame existente pivot_df
df_addyears = pd.concat([pivot_df, pivot_df2])
df_addyears = df_addyears.astype(int)
df_addyears['Año'] = df_addyears.index
df_addyears = df_addyears.rename(columns={'index': 'Año'})
df_addyears = df_addyears.reset_index(drop=True)
df_addyears

,madrid,centro,arganzuela,retiro,salamanca,chamartin,tetuan,chamberí,fuencarral,moncloa,...,puente_vallecas,moratalaz,ciudad_lineal,hortaleza,villaverde,villa_vallecas,vicalvaro,san blas,barajas,Año
0,15044,16719,15961,18865,18930,19576,15444,19242,15129,18209,...,11451,13947,15008,15439,11666,12112,12291,13709,15994,2002
1,15916,17124,16705,20090,20187,20739,16203,20110,16139,19109,...,12260,14993,15835,16326,12530,13105,13031,14465,16565,2003
2,16827,18035,17796,20884,20983,21224,17022,20751,16957,19896,...,13328,15716,16442,17438,13909,14466,14793,15732,18146,2004
3,17439,18630,18426,21088,22342,22001,17709,21525,17886,20212,...,13891,16664,17103,17806,14226,15254,14860,16206,18709,2005
4,18772,20297,19863,22619,23924,23419,18746,23280,19447,21805,...,14970,18151,18342,19322,15352,16853,16548,17510,20309,2006
5,19838,21465,21035,23992,26157,25522,19558,24644,20817,23600,...,15778,19005,19144,20381,16190,17406,17517,18306,22343,2007
6,21152,22492,21884,26251,28278,27638,21347,26788,22727,25823,...,16385,20430,20756,21879,16414,18783,18832,19274,23371,2008
7,20639,21964,21605,25694,26061,25472,20276,25403,22039,23859,...,16360,20242,20311,21601,16491,19115,18774,19557,23399,2009
8,20302,21539,21705,25265,25148,25208,20205,24877,21771,23759,...,15928,19936,20075,21405,15865,19119,18558,19129,23012,2010
9,20784,22393,22281,26286,26881,26568,20960,25916,22288,24896,...,15897,19955,20311,22015,15925,19032,18694,19435,23718,2011
10,19838,21797,21742,24570,24040,23652,19679,23884,20866,22782,...,15524,19670,19493,21079,15783,18557,18056,19012,22718,2012
11,19973,22003,22116,24553,24304,24514,19831,24639,20841,23485,...,15479,19831,19787,20956,15738,18327,17905,18740,23352,2013
12,20205,22688,22479,24685,24539,24736,19664,24942,21434,24137,...,15390,20102,19853,21584,15942,18625,17950,18694,23704,2014
13,21176,23866,23904,26408,26041,26398,20656,26130,22426,24821,...,16121,20717,20863,22643,16522,19219,18752,19403,24619,2015
14,21888,25092,24754,27630,28017,27960,21447,27852,22883,25830,...,16276,21069,21524,23587,16735,19538,18887,19804,25184,2016
15,22364,26092,25643,28753,29082,29062,21731,28894,23545,26984,...,16229,21443,21828,24502,16566,19954,19383,20036,25818,2017
16,22542,26579,26295,29043,29206,29168,21882,28987,23545,26786,...,16620,21890,21969,24404,16688,20143,19723,20098,25775,2018
17,23463,27236,27672,30721,31197,31295,22925,30468,24644,28275,...,17076,22484,22787,25437,17191,20551,20080,20531,26467,2019
18,23621,27245,27291,30132,30148,30080,22914,29936,25091,28054,...,17486,23133,23087,25688,17715,21642,20940,21369,27635,2020
19,24013,27798,27872,30687,30659,30591,23249,30465,25537,28526,...,17719,23543,23462,26182,17943,22048,21304,21691,28186,2021
20,24405,28350,28454,31242,31170,31101,23583,30994,25983,28998,...,17952,23954,23837,26677,18172,22454,21668,22013,28738,2022

In [17]:
# Convert it to a string and then to a datetime object with format 'DD/MM/YY'
df_addyears['Año'] = pd.to_datetime(df_addyears['Año'].astype(str), format='%Y').dt.strftime('%d/%m/%y')


# Print the updated DataFrame
df_addyears

,madrid,centro,arganzuela,retiro,salamanca,chamartin,tetuan,chamberí,fuencarral,moncloa,...,puente_vallecas,moratalaz,ciudad_lineal,hortaleza,villaverde,villa_vallecas,vicalvaro,san blas,barajas,Año
0,15044,16719,15961,18865,18930,19576,15444,19242,15129,18209,...,11451,13947,15008,15439,11666,12112,12291,13709,15994,01/01/02
1,15916,17124,16705,20090,20187,20739,16203,20110,16139,19109,...,12260,14993,15835,16326,12530,13105,13031,14465,16565,01/01/03
2,16827,18035,17796,20884,20983,21224,17022,20751,16957,19896,...,13328,15716,16442,17438,13909,14466,14793,15732,18146,01/01/04
3,17439,18630,18426,21088,22342,22001,17709,21525,17886,20212,...,13891,16664,17103,17806,14226,15254,14860,16206,18709,01/01/05
4,18772,20297,19863,22619,23924,23419,18746,23280,19447,21805,...,14970,18151,18342,19322,15352,16853,16548,17510,20309,01/01/06
5,19838,21465,21035,23992,26157,25522,19558,24644,20817,23600,...,15778,19005,19144,20381,16190,17406,17517,18306,22343,01/01/07
6,21152,22492,21884,26251,28278,27638,21347,26788,22727,25823,...,16385,20430,20756,21879,16414,18783,18832,19274,23371,01/01/08
7,20639,21964,21605,25694,26061,25472,20276,25403,22039,23859,...,16360,20242,20311,21601,16491,19115,18774,19557,23399,01/01/09
8,20302,21539,21705,25265,25148,25208,20205,24877,21771,23759,...,15928,19936,20075,21405,15865,19119,18558,19129,23012,01/01/10
9,20784,22393,22281,26286,26881,26568,20960,25916,22288,24896,...,15897,19955,20311,22015,15925,19032,18694,19435,23718,01/01/11
10,19838,21797,21742,24570,24040,23652,19679,23884,20866,22782,...,15524,19670,19493,21079,15783,18557,18056,19012,22718,01/01/12
11,19973,22003,22116,24553,24304,24514,19831,24639,20841,23485,...,15479,19831,19787,20956,15738,18327,17905,18740,23352,01/01/13
12,20205,22688,22479,24685,24539,24736,19664,24942,21434,24137,...,15390,20102,19853,21584,15942,18625,17950,18694,23704,01/01/14
13,21176,23866,23904,26408,26041,26398,20656,26130,22426,24821,...,16121,20717,20863,22643,16522,19219,18752,19403,24619,01/01/15
14,21888,25092,24754,27630,28017,27960,21447,27852,22883,25830,...,16276,21069,21524,23587,16735,19538,18887,19804,25184,01/01/16
15,22364,26092,25643,28753,29082,29062,21731,28894,23545,26984,...,16229,21443,21828,24502,16566,19954,19383,20036,25818,01/01/17
16,22542,26579,26295,29043,29206,29168,21882,28987,23545,26786,...,16620,21890,21969,24404,16688,20143,19723,20098,25775,01/01/18
17,23463,27236,27672,30721,31197,31295,22925,30468,24644,28275,...,17076,22484,22787,25437,17191,20551,20080,20531,26467,01/01/19
18,23621,27245,27291,30132,30148,30080,22914,29936,25091,28054,...,17486,23133,23087,25688,17715,21642,20940,21369,27635,01/01/20
19,24013,27798,27872,30687,30659,30591,23249,30465,25537,28526,...,17719,23543,23462,26182,17943,22048,21304,21691,28186,01/01/21
20,24405,28350,28454,31242,31170,31101,23583,30994,25983,28998,...,17952,23954,23837,26677,18172,22454,21668,22013,28738,01/01/22

In [18]:
df_addyears.rename(columns={'Año': 'Date'}, inplace=True)
df_addyears

,madrid,centro,arganzuela,retiro,salamanca,chamartin,tetuan,chamberí,fuencarral,moncloa,...,puente_vallecas,moratalaz,ciudad_lineal,hortaleza,villaverde,villa_vallecas,vicalvaro,san blas,barajas,Date
0,15044,16719,15961,18865,18930,19576,15444,19242,15129,18209,...,11451,13947,15008,15439,11666,12112,12291,13709,15994,01/01/02
1,15916,17124,16705,20090,20187,20739,16203,20110,16139,19109,...,12260,14993,15835,16326,12530,13105,13031,14465,16565,01/01/03
2,16827,18035,17796,20884,20983,21224,17022,20751,16957,19896,...,13328,15716,16442,17438,13909,14466,14793,15732,18146,01/01/04
3,17439,18630,18426,21088,22342,22001,17709,21525,17886,20212,...,13891,16664,17103,17806,14226,15254,14860,16206,18709,01/01/05
4,18772,20297,19863,22619,23924,23419,18746,23280,19447,21805,...,14970,18151,18342,19322,15352,16853,16548,17510,20309,01/01/06
5,19838,21465,21035,23992,26157,25522,19558,24644,20817,23600,...,15778,19005,19144,20381,16190,17406,17517,18306,22343,01/01/07
6,21152,22492,21884,26251,28278,27638,21347,26788,22727,25823,...,16385,20430,20756,21879,16414,18783,18832,19274,23371,01/01/08
7,20639,21964,21605,25694,26061,25472,20276,25403,22039,23859,...,16360,20242,20311,21601,16491,19115,18774,19557,23399,01/01/09
8,20302,21539,21705,25265,25148,25208,20205,24877,21771,23759,...,15928,19936,20075,21405,15865,19119,18558,19129,23012,01/01/10
9,20784,22393,22281,26286,26881,26568,20960,25916,22288,24896,...,15897,19955,20311,22015,15925,19032,18694,19435,23718,01/01/11
10,19838,21797,21742,24570,24040,23652,19679,23884,20866,22782,...,15524,19670,19493,21079,15783,18557,18056,19012,22718,01/01/12
11,19973,22003,22116,24553,24304,24514,19831,24639,20841,23485,...,15479,19831,19787,20956,15738,18327,17905,18740,23352,01/01/13
12,20205,22688,22479,24685,24539,24736,19664,24942,21434,24137,...,15390,20102,19853,21584,15942,18625,17950,18694,23704,01/01/14
13,21176,23866,23904,26408,26041,26398,20656,26130,22426,24821,...,16121,20717,20863,22643,16522,19219,18752,19403,24619,01/01/15
14,21888,25092,24754,27630,28017,27960,21447,27852,22883,25830,...,16276,21069,21524,23587,16735,19538,18887,19804,25184,01/01/16
15,22364,26092,25643,28753,29082,29062,21731,28894,23545,26984,...,16229,21443,21828,24502,16566,19954,19383,20036,25818,01/01/17
16,22542,26579,26295,29043,29206,29168,21882,28987,23545,26786,...,16620,21890,21969,24404,16688,20143,19723,20098,25775,01/01/18
17,23463,27236,27672,30721,31197,31295,22925,30468,24644,28275,...,17076,22484,22787,25437,17191,20551,20080,20531,26467,01/01/19
18,23621,27245,27291,30132,30148,30080,22914,29936,25091,28054,...,17486,23133,23087,25688,17715,21642,20940,21369,27635,01/01/20
19,24013,27798,27872,30687,30659,30591,23249,30465,25537,28526,...,17719,23543,23462,26182,17943,22048,21304,21691,28186,01/01/21
20,24405,28350,28454,31242,31170,31101,23583,30994,25983,28998,...,17952,23954,23837,26677,18172,22454,21668,22013,28738,01/01/22

In [20]:
# Utilizar el método melt para girar el DataFrame
df_renta_per_capita_girado = pd.DataFrame(df_addyears.melt(id_vars='Date', var_name='distrito', value_name='valor'))
df_renta_per_capita_girado

         Date distrito  valor
0    01/01/02   madrid  15044
1    01/01/03   madrid  15916
2    01/01/04   madrid  16827
3    01/01/05   madrid  17439
4    01/01/06   madrid  18772
..        ...      ...    ...
457  01/01/18  barajas  25775
458  01/01/19  barajas  26467
459  01/01/20  barajas  27635
460  01/01/21  barajas  28186
461  01/01/22  barajas  28738

[462 rows x 3 columns]

In [21]:
# Descargar el archivo 
archivo_excel = '/Users/Paco/IMMUNE/Modulo_Deep_Learning_Completo 2/Modulo_Deep_Learning_Completo/notebooks/df_renta_per_capita_girado.csv'
df_renta_per_capita_girado.to_csv(archivo_excel, index=True)

In [22]:
# Descargar el archivo 
archivo_excel = '/Users/Paco/IMMUNE/Modulo_Deep_Learning_Completo 2/Modulo_Deep_Learning_Completo/notebooks/df_renta_col_dist.csv'
df_addyears .to_csv(archivo_excel, index=True)

In [ ]:
# Descargar el archivo 
archivo_excel = '/Users/Paco/IMMUNE/Modulo_Deep_Learning_Completo 2/Modulo_Deep_Learning_Completo/notebooks/df_renta_col_dist.csv'
df_addyears .to_csv(archivo_excel, index=True)